<div class="main_category" layout:decorate="~{/layouts/main_fragment_site}" layout:fragment="site_content">
    <div class="row">
        <ul th:if="${not #lists.isEmpty(category_list)}">
            <li th:each="cat : ${category_list}">
                <a id="link" href="#" th:text="${cat.name}"></a>
                <p class="col-sm-4">
                    <ul th:if="${not #lists.isEmpty(cat.children)}">
                        <li th:each="subcat : ${cat.children}">
                            <a id="linkSub" href="#" th:text="${subcat.name}"></a>
                        </li>
                    </ul>
                </p>
            </li>
        </ul>
    </div>
</div>