<div class="container-fluid" layout:decorate="~{/layouts/main_fragment_site}" layout:fragment="site_content">
    <div class="row">
        <div class="col-md-4 " th:each="cat: ${category_list}">
            <!--<ul class="category-name" th:if="${not #lists.isEmpty(category_list)}">-->
            <!--<li th:each="cat : ${category_list}">-->
            <!--<div class="col-sm-4">-->
            <h3 id="commodity-name" th:text="${cat.name}"></h3>
            <ul class="category-name" th:if="${not #lists.isEmpty(cat.children)}">
                <li id="li-point" th:each="subcat : ${cat.children}">
                    <a id="linkSub" href="#" th:text="${subcat.name}"></a>
                </li>
            </ul>
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
    </div>
</div>
