<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8"/>
    <link href="main_fragment_site.html">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" th:href="@{/scripts/plugins/bootstrap/dist/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/site.css}"/>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header">
            <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4 logo">content</div>
            <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 searching">content</div>
            <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4 user-data">content</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 content_container">
            <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4 category">
                <ul th:replace="site/_components/categories :: categories_navigation"></ul>
            </div>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 content">
            <div layout:fragment="commodity_content"></div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue"></script>
</body>
</html>