@charset "UTF-8";

.common-information div.row {
    margin-bottom: 7px;
}

.text-text {
    word-wrap: break-word;
}

.form-group .error {
    border-color: #f93926;
}

.progress {
    margin-top: 10px;
}

.alert-block {
    margin-top: 1px;
}


