@charset "UTF-8";

@import "radio-button.css";
@import "delete_file_button.css";
@import "upload_button.css";

.hidden {

    display: none;
}

.file__control-panel {
    padding: 0;
    margin: 0;
}

.file__control-panel .li {
    display: inline-block;
}

