<div th:fragment="form (commodity, buttonName, action)" xmlns:th="http://www.w3.org/1999/xhtml">
    <form action="#" th:action="${action}" method="post" th:object="${commodity}" class="form-horizontal"
          id="commodityForm">
        <div class="alert-block"></div>

        <input type="hidden" th:field="*{id}" th:value="${commodity.id}" name="id" id="id"/>

        <div class="row">
            <div class="form-group">
                <label for="commodityName" class="col-sm-3 control-label">Название *</label>
                <div class="col-sm-9">
                    <input id="commodityName" name="name" placeholder="name" type="text" th:field="*{name}"
                           class="form-control">
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <label for="commodityPrice" class="col-sm-3 control-label">Цена *</label>
                <div class="col-sm-9">
                    <input id="commodityPrice" name="price" placeholder="price" type="text" th:field="*{price}"
                           class="form-control">
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <label for="commodityDescription" class="col-sm-3 control-label">Описание</label>
                <div class="col-sm-9">
                        <textarea id="commodityDescription" name="description"
                                  th:field="*{description}"
                                  class="form-control">

                        </textarea>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('description')}">
                        <p th:errors="*{description}"></p>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <label for="commodityAge" class="col-sm-3 control-label">Рекомендуемый возраст</label>
                <div class="col-sm-9">
                    <input id="commodityAge" name="age" placeholder="age" type="number" th:field="*{age}"
                           class="form-control">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('age')}">
                        <p th:errors="*{age}"></p>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <label for="commodityQuantity" class="col-sm-3 control-label">Количество товара *</label>
                <div class="col-sm-9">
                    <input id="commodityQuantity" name="quantity" placeholder="quantity" type="number"
                           th:field="*{quantity}"
                           class="form-control">
                    <p class="errors"></p>
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <label for="categories" class="col-sm-3 control-label">Категория *</label>
                <div class="col-sm-9">
                    <select name="categoryId" id="categories" th:field="*{categoryId}" class="form-control">
                        <option value="">Выберите категорию</option>
                        <option th:each="cat : ${categories}"
                                th:value="${cat.id}"
                                th:text="${cat.name}"></option>
                    </select>
                    <p class="errors"></p>
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <label for="gender" class="col-sm-3 control-label">Рекомендуемый пол</label>
                <div class="col-sm-9">
                    <select name="gender" id="gender" th:field="*{gender}" class="form-control">
                        <option value="">Выберите пол</option>
                        <option th:each="gender : ${genders}"
                                th:value="${gender}"
                                th:text="${gender.name}"></option>
                    </select>
                    <p class="errors"></p>
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <label for="countries" class="col-sm-3 control-label">Страна производитель *</label>
                <div class="col-sm-9">
                    <select name="countryId" id="countries" th:field="*{countryId}" class="form-control">
                        <option value="">Выберите страну</option>
                        <option th:each="cant : ${countries}"
                                th:value="${cant.id}"
                                th:text="${cant.name}"></option>
                    </select>
                    <p class="errors"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="properties" class="col-sm-3 control-label">Характеристика и значение</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <select name="properties[]" id="properties" class="form-control">
                                <option value="">Выберите характеристику и значение</option>
                                <option th:each="property : ${properties}"
                                        th:value="${property.id}"
                                        th:text="${property.title}"></option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select name="property-values" id="property__values" class="form-control" disabled>
                                <option value="">Выберите свойство</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--форма по загрузки файтов-->
            <hr/>

            <div class="form-group">
                <div class="col-sm-3 control-label">
                    <label>Upload images *</label>
                </div>
                <div class=" col-sm-9 ">
                    <div id="file-upload-button-container"></div>
                    <div id="files"></div>
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <label for="deleted" class="checkbox-default-primary col-sm-9 col-sm-offset-3">
                    <input type="checkbox" id="deleted">
                    <span>(Снят с продажи)</span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <button name="save" type="submit" class="btn btn-primary m-md-t w-150" th:text="${buttonName}"></button>
                <button type="reset" class="btn btn-grey m-md-t w-150">Очистить форму</button>
            </div>
        </div>
    </form>
</div>


